PORT=xxx
CONNECTION_STRING=xxx
ACCESS_TOKEN_SECRET=xxx
MONGO_DB_USER=xxx
MONGO_DB_PASSWORD=xxx
NODE_ENV=xxx
GOOGLE_CLIENT_ID=xxx
GOOGLE_CLIENT_SECRET=xxx
FACEBOOK_CLIENT_ID=xxx
FACEBOOK_CLIENT_SECRET=xxx
USER_EMAIL=xxx
MAIL_PASSWORD=xxx
BUCKET_NAME=xxx
BUCKET_REGION=xxx
ACCESS_KEY=xxx
SECRET_ACCESS_KEY=xxx
FRONTEND_URL=xxx